* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-page: #070f0d;
  --primary-color: #2ccf7f;
  --secundary-color: #0fa15b;
  --box-color: #121816;
  --box-border-color: #ffffff25;
  --font-color: #ffffffec;
  --detail-color: #828282;
}

/* Preloader */

#preloader {
  position: fixed; /* Importante para cobrir a tela */
  width: 100%;
  height: 100vh;
  background-color: var(--bg-page);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 20vw;
    height: auto;
  }

  path {
    fill: #2ccf801f;
    stroke: #2ccf80;
    stroke-width: 4px;
    stroke-dasharray: 2050px;
    stroke-dashoffset: 2050px;
  }
}

/* ESTILOS GERAIS */

body {
  background-color: var(--bg-page);
  color: var(--font-color);
  width: 100%;
  overflow-x: hidden; 
  position: relative;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(box-color);
}

::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: var(--primary-color);
  border-radius: 30px;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.head-title {
  text-align: center;
  margin-bottom: 60px;
}

.head-title .title-target {
  border: 1px dashed var(--detail-color);
  padding: 0px 28px 0 28px;
  border-radius: 32px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
}

.head-title .title-target i {
  color: var(--primary-color);
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.head-title .title-target h3 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.head-title h2 {
  font-size: 32px;
}

.head-title span {
  color: var(--primary-color);
}

.head-title p {
  color: var(--font-color);
  margin-top: 8px;
  font-weight: 300;
}

/* ESTILO DO CABEÇALHO */

header {
  width: 100%;
  position: absolute;
  padding: 40px 4%;
  z-index: 1;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--detail-color);
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header nav.menu-desktop a:hover {
  color: var(--font-color);
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 20px;
}

.btn-social {
  display: flex;
  gap: 15px;
}

.btn-social button {
  background-color: transparent;
  border: none;
  color: var(--detail-color);
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-social button:hover {
  color: var(--font-color);
  transform: scale(1.2);
}

/* ESTILO DO BANNER */

.banner-section {
  width: 100%;
  height: 100vh;
  background-position: 50% 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  picture {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    img.bg {
      width: 85%;
      height: 85%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.banner-section:before {
  content: "";
  background: linear-gradient(180deg, #070f0d00 25%, var(--bg-page) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.banner-section .interface {
  width: 75%;
}

.txt-banner {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.txt-banner h2 {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 300;
}

.txt-banner h1 {
  color: #var(--font-color);
  font-size: 64px;
  line-height: 1.1;
}

/* ESTILO DA SEÇÃO DE CONHECIMENTOS */

section.conhecimentos {
  padding: 80px 4%;
  position: relative;
  z-index: 5;
  background-color: var(--bg-page);
}

.flex-conhecimentos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.box-conhecimentos {
  background-color: var(--box-color);
  border: 1px solid var(--box-border-color);
  padding: 28px;
  border-radius: 16px;
  transition: 0.3s;
}

.box-conhecimentos:hover {
  border-color: var(--primary-color);
  transform: translateY(-5px);
}

.topo-box {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 16px;
}

.topo-box img {
  width: 35px;
}

.topo-box h3 {
  font-size: 20px;
  font-weight: 400;
}

.progress-container p {
  font-size: 12px;
  color: var(--detail-color);
  margin-bottom: 8px;
}

.bar {
  width: 100%;
  height: 8px;
  background-color: var(--bg-page);
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  border-radius: 10px;
}

.html {
  width: 90%;
  background: linear-gradient(90deg, #ff4c1e, #ff651e);
}
.css {
  width: 85%;
  background: linear-gradient(90deg, #004ce8, #2b7ff6);
}
.js {
  width: 75%;
  background: linear-gradient(90deg, #e4a126, #f0be25);
}
.python {
  width: 70%;
  background: linear-gradient(90deg, #3774a7, #ffd03f);
}
.wordpress {
  width: 90%;
  background: linear-gradient(90deg, #4fd6f0, #245387);
}
.elementor {
  width: 85%;
  background: linear-gradient(90deg, #322877, #e02c5c);
}
.django {
  width: 70%;
  background: linear-gradient(90deg, #092e20, #2ccf7f);
}
.next {
  width: 55%;
  background: linear-gradient(90deg, #e8e8e8, #9d9d9d);
}

/* ESTILO DA SEÇÃO portfólio */

section.portfolio {
  padding: 50px 4%;
  position: relative;
  z-index: 5;
  background-color: var(--bg-page);
}

.swiper-slide {
  width: 500px !important;
  height: auto !important;
  padding-bottom: 50px !important;
  transition: 0.4s;
}

.swiper-pagination-bullet {
  background: var(--detail-color) !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}

.card-projetos {
  background-color: var(--box-color);
  border: 1px solid var(--box-border-color);
  border-radius: 20px;
  padding: 0px;
  text-align: left;
}

/* IMAGEM DO PROJETO */
.img-projeto {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}

.img-projeto img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  display: block;
}

.txt-projeto {
  padding: 16px;
}

.txt-projeto h3 {
  color: var(--font-color);
  font-size: 26px;
  margin-bottom: 15px;
}

.txt-projeto p {
  color: var(--font-color);
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  gap: 12px;
}

.tags span {
  width: auto !important;
  height: auto !important;
  padding: 2px 20px !important;
  border-radius: 50px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #fff !important;
  display: inline-block !important;
}

.tags .html {
  background: linear-gradient(90deg, #ff4c1e, #ff651e);
}
.tags .css {
  background: linear-gradient(90deg, #004ce8, #2b7ff6);
}
.tags .js {
  background: linear-gradient(90deg, #e4a126, #f0be25);
}
.tags .python {
  background: linear-gradient(90deg, #3774a7, #ffd03f);
}
.tags .wordpress {
  background: linear-gradient(90deg, #4fd6f0, #245387);
}
.tags .elementor {
  background: linear-gradient(90deg, #322877, #e02c5c);
}
.tags .django {
  background: linear-gradient(90deg, #092e20, #2ccf7f);
}
.tags .next {
  background: linear-gradient(90deg, #e8e8e8, #9d9d9d);
}

.btn-projeto {
  display: inline-flex;
  align-items: start;
  gap: 10px;
  margin-top: 25px;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-projeto i {
  font-size: 15px;
}

.btn-projeto:hover {
  transform: translateY(-2px);
}

/* ESTILO DA SEÇÃO SOBRE MIM */

section.about-me {
  padding: 100px 4% !important;
  position: relative;
  z-index: 5;
  background-color: var(--bg-page);
}

section.about-me .flex {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.about-me .flex .img-about img {
  width: 420px;
  height: auto;
}

.about-me .flex .head-title {
  text-align: start;
}

.about-me .flex .txt-sobre p {
  text-align: justify;
  text-justify: inter-word; 
}

.about-me .flex .txt-sobre .soft-skill-title {
  padding: 32px 0 20px 0;
}

.txt-sobre .grid-softskills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.grid-softskills .block-soft-skil {
  background-color: var(--box-color);
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--box-border-color);
}

.block-soft-skil .soft-skill-target {
  display: inline-flex;
  align-items: center;
  margin-bottom: 8px;
}

.block-soft-skil .soft-skill-target i {
  color: var(--primary-color);
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.block-soft-skil .soft-skill-target h4 {
  font-size: 18px;
  font-weight: 300;
}

.block-soft-skil p {
  font-size: 14px;
  font-weight: 300;
  text-align: left !important;
}

/* ESTILO DA SEÇÃO EXPERIÊNCIA */

section.experiencia {
  padding: 80px 4%;
  background-color: var(--bg-page);
  position: relative;
  z-index: 5;
}

.timeline-container {
  position: relative;
  max-width: 1100px;
  margin: 50px auto;
  padding: 40px 0;
}

/* Linha Central Estática */
.timeline-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
}

/* Linha animada com GSAP */
.timeline-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0; 
  background-color: var(--primary-color);
  box-shadow: 0 0 15px var(--primary-color);
}

.timeline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
  position: relative;
}

/* Dots na linha */
.timeline-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  z-index: 10;
}

/* Conteúdo */
.timeline-card {
  width: 45%;
  background-color: var(--box-color);
  border: 1px solid var(--box-border-color);
  padding: 30px;
  border-radius: 15px;
  opacity: 0; 
}

.timeline-date {
  width: 45%;
  font-size: 32px;
  font-weight: 700;
  color: var(--font-color);
}

.timeline-item.right {
  flex-direction: row-reverse;
}
.timeline-item.right .timeline-date {
  text-align: left;
  padding-right: 50px;
}
.timeline-item.left .timeline-date {
  text-align: right;
  padding-left: 50px;
}

.topo-card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.topo-card i {
  color: var(--primary-color);
  font-size: 20px;
}
.timeline-card p {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color);
  line-height: 1.6;
  text-align: justify;
}

/* ESTILO DA SEÇÃO EXPERIÊNCIA */

section.certificados {
  padding: 50px 4% !important;
  background-color: var(--bg-page);
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.certificados .head-title {
  text-align: start;
}

.scroll-horizontal-container {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.certified-wrapper {
  display: flex;
  gap: 30px;
}

.certified-card {
  width: 400px; /* Largura fixa para os cards não esmagarem */
  flex-shrink: 0;
  background-color: var(--box-color);
  border: 1px solid var(--box-border-color);
  border-radius: 20px;
  padding: 25px;
  transition: 0.3s;
}

.certified-card .certified-details h3 {
  font-size: 20px;
}

.certified-card:hover {
  border-color: var(--primary-color);
}

.certified-img img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.organization-card {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.organization-img img {
  width: 40px;
  height: 40px;
}

.organization-details h5 {
  color: var(--font-color);
  font-size: 16px;
}
.organization-details p {
  color: var(--detail-color);
  font-size: 14px;
}

.btn-cert {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.btn-cert:hover {
  background-color: var(--primary-color);
  color: #000;
}

/* ESTILO DA SEÇÃO CONTATO */

section.contato {
  padding: 100px 4% !important;
  background-color: var(--bg-page);
  position: relative;
  z-index: 5;
  overflow: hidden;
}

section.contato .flex {
  gap: 80px;
  align-items: flex-start;
}

section.contato a {
  text-decoration: none;
}

.contato-info {
  flex: 1;
}

.contato-info p {
  color: var(--detail-color);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* Cards das Redes Sociais */
.social-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-card {
  background-color: var(--box-color);
  border: 1px solid var(--box-border-color);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: 0.3s;
}

.social-card i {
  font-size: 24px;
  color: var(--primary-color);
}

.social-card span {
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color);
}

.social-card:hover {
  border-color: var(--primary-color);
  transform: translateX(10px);
}

/* Formulário */
.form-container {
  flex: 1;
  background-color: var(--box-color);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid var(--box-border-color);
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  background-color: var(--bg-page);
  border: 1px solid var(--box-border-color);
  padding: 15px 20px;
  border-radius: 10px;
  color: var(--font-color);
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.form-container textarea {
  height: 150px;
  resize: none;
}

.form-container input:focus,
.form-container textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(44, 207, 127, 0.1);
}

.btn-enviar {
  background-color: var(--primary-color);
  color: #000;
  font-weight: 600;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.btn-enviar:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px var(--secundary-color);
}

/* ESTILO DO FOOTER */

footer {
  padding: 40px 4%;
  background-color: var(--box-color) !important;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid var(--primary-color);
}

footer .line-footer p i {
  color: var(--primary-color);
  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

footer .line-footer p a:hover {
  color: #696969;
}

/*Media Queries*/

@media (max-width: 600px) {
  .interface {
    max-width: 100%;
    padding: 1%;
  }

  header {
    padding: 15px 2%;
    z-index: 1;
  }

  header nav.menu-desktop {
    display: none !important;
  }

  .banner-section {
    width: 100%; 
    position: relative;
    overflow-x: hidden;
  }

  .banner-section picture:first-of-type img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important; 
  }

  .banner-section picture img.bg {
    width: 115% !important; 
    height: auto !important;
    bottom: 0;
    right: 50%; 
    transform: translateX(50%); 
    object-fit: contain;
  }

  .txt-banner {
    max-width: 100% !important;
    margin-top: 60vh !important;
    position: relative;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .txt-banner h2 {
    font-size: 5vw;
    font-weight: 300;
    width: 100%;
  }

  .txt-banner h1 {
    font-size: 11.9vw;
    line-height: 1.1;
    width: 100%;
    margin: 0 auto;
  }

  /*SEÇÃO CONHECIMENTOS*/

  section.conhecimentos {
    padding: 80px 4% !important;
  }

  .flex-conhecimentos {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
  }

  .box-conhecimentos {
    padding: 15px; 
    border-radius: 12px;
  }

  .topo-box {
    gap: 10px;
    margin-bottom: 12px;
  }

  .topo-box img {
    width: 25px; 
  }

  .topo-box h3 {
    font-size: 16px; 
  }

  .progress-container p {
    display: none;
  }

  .bar {
    height: 6px; 
  }

  .head-title h2 {
    font-size: 28px;
  }

  .head-title p {
    font-size: 14px;
  }

  /* SEÇÃO PORTFÓLIO */

  section.portfolio {
    padding: 50px 4% !important;
  }

  .swiper-slide {
    width: 90% !important; 
    transition: transform 0.3s;
  }

  .img-projeto {
    width: 100%;
    height: 180px; 
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }

  .txt-projeto {
    text-align: left;
    padding: 15px 10px;
  }
  
  .txt-projeto h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .txt-projeto p {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .tags {
    gap: 5px;
    margin-top: 15px;
  }

  .tags span {
    font-size: 10px !important;
    font-weight: 500 !important;
  }

  /* SEÇÃO ABOUT-ME */

  section.about-me {
    padding: 50px 4% !important;
  }

  section.about-me .flex {
    flex-direction: column; 
    align-items: center;
    gap: 30px; 
  }

  .about-me .flex .img-about img {
    width: 100%; 
    max-width: 350px; 
    height: auto;
  }

  .about-me .flex .head-title {
    text-align: center; 
    margin-bottom: 30px;
  }

  .about-me .flex .txt-sobre p {
    text-align: justify; 
    font-size: 15px;
    line-height: 1.6;
  }

  .txt-sobre .grid-softskills {
    grid-template-columns: 1fr; 
    gap: 12px;
  }

  .about-me .flex .txt-sobre .soft-skill-title {
    padding: 30px 0 15px 0;
    text-align: center;
  }

  .block-soft-skil {
    padding: 20px;
  }

  /* SEÇÃO EXPERIÊNCIA */

  .timeline-line {
    left: 20px; 
    transform: none;
  }

  .timeline-item {
    flex-direction: column !important; 
    align-items: flex-start !important;
    padding-left: 45px; 
    margin-bottom: 40px;
  }

  .timeline-dot {
    left: 20px;
    transform: translateX(-50%);
  }

  .timeline-card, .timeline-date {
    width: 100% !important;
    text-align: left !important;
    padding: 0 !important;
  }

  .timeline-date {
    font-size: 22px; 
    margin-bottom: 10px;
  }

  .timeline-card {
    padding: 20px !important; 
  }

  .timeline-card p {
    font-size: 13px;
    text-align: left;
  }

  /* CERTIFICADO */

  section.certificados .head-title {
    text-align: center !important;
    margin-bottom: 40px;
  }

  section.certificados .head-title .title-target {
    justify-content: center; 
  }

  .certified-card {
    width: 320px; 
    padding: 20px;
    gap: 15px;
  }

  .certified-card .certified-details h3 {
    font-size: 18px; 
    line-height: 1.3;
  }

  .organization-details h5 {
    font-size: 14px;
  }

  .organization-details p {
    font-size: 12px;
  }

  .issue-date {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .certified-wrapper {
    gap: 20px; 
  }

  /* CONTATO */
  section.contato {
    padding: 60px 4%;
  }

  section.contato .flex {
    flex-direction: column;
    gap: 50px;
  }

  .form-container {
    width: 100% !important;
    padding: 20px;
  }

  .form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form-container input, 
  .form-container textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px; 
  }
}
